@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Roboto&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
}
.container {
  background-color: #9c9c9c;
  height: 360px;
  width: 332px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
input {
  width: 200px;
  height: 50px;
  border-radius: 7px;
  background: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
}
.text-heading {
  font-size: 17px;
  color: black;
}
.cel {
  letter-spacing: 1px;
}
.btn {
  width: 199px;
  height: 44px;
  cursor: pointer;
}
.btn:hover {
  background-color: orangered;
  border: none;
  border-radius: 7px;
  color: white;
}

.name {
  position: absolute;
  bottom: 12px;
}
.copy {
  font-size: 18px;
}
::placeholder {
  font-size: 11px;
}
